body
{
background-color: #EAE9D5;
} 

*{padding:0;margin:0}
ul,ol{list-style:none}
li{text-decoration:none;color:#fff;font-size:15px}
.nav1{overflow:hidden;height:40px;background-color:#065C94;}

.nav1{text-align:right}

.topBar {
    border: 0;
    background-color: transparent;
    color:white;
    font-size: 15.5px;
    cursor:pointer;
}

.search-box {
    text-align: left;
    position: relative;
    float: left;
    height: 25px;
    width : 200px;
    top: 7px;
    left : 10px;
    border-radius: 30px;
}

.search-txt {
    float: left;
    padding: 0;
    background: white;
    border: none;
    outline: none;
    color: black;
    font-size: 12px;
    line-height: 24px;
    width : 150px;
    border-radius: 35px;
}

.nav1>ul{display:inline-block}
.nav1>ul li{float:left;padding:0 30px;line-height:40px}
