body
{
background-color: #EAE9D5;
} 


.user-picture {
    float:left;
    position: relative;
    left: 70px;
    top : 60px;
    width : 150px;
    height : 150px;
    border-radius: 50%;
    background-color: white;
}

.profile-hi {
    float:left;
    position: relative;
    top: 90px;
    left: 98px;
    font-size: 30px;
    font-family: "맑은고딕";
}

.modify-Info {
    border: 0;
    float : left;
    position:relative;
    top:144px;
    right: 205px;
    width : 130px;
    height : 40px;
    background-color: #B5B5B5;
    border-radius: 20px;
    color:white;
    font-size: 20px;
    font-weight: bold;
    font-family: "맑은고딕";
    cursor:pointer;
}
.log-out {
    border: 0;
    float : left;
    position:relative;
    top:144px;
    right: 190px;
    width : 130px;
    height : 40px;
    background-color: #B5B5B5;
    border-radius: 20px;
    color:white;
    font-size: 20px;
    font-weight: bold;
    font-family: "맑은고딕";
    cursor:pointer;
}
.img-DL {
    float : left;
    position:relative;
    width: 120px;
    height: 100px;
    right: 825px;
    top: 100px;
}
.directToDL {
    float : left;
    position:relative;
    width: 30%;
    height: 50px;
    left: 210px;
    top: 20px;
    border: none;
    border-radius: 25px;
    background-color: white;
    font-size: 23px;
    text-align: center;
}

.receivedMsg {
    float :left;
    border: none;
    border-radius: 25px;

}
.real-line {
    width: 99.9%;
    align-items: center;
    position: relative;
    bottom: -20px;
    background-color: #065C94;
    height: 2px;
}

.circle1 {
    float:left;
    left: 70px;
    top : 32px;
    position: relative;
    width : 22px;
    height : 22px;
    border-radius: 50%;
    background-color: #065C94;
}

.circle2 {
    float:left;
    position: relative;
    left: 600px;
    top : 32px;
    width : 22px;
    height : 22px;
    border-radius: 50%;
    background-color: #065C94;
}

.circle3 {
    float:left;
    position: relative;
    left: 1130px;
    top : 32px;
    width : 22px;
    height : 22px;
    border-radius: 50%;
    background-color: #065C94;
}