body
{
background-color: #EAE9D5;
} 

*{padding:0;margin:0}

.nav1{overflow:hidden;height:40px;background-color:#065C94; text-align:right}

.topBar {
    border: 0;
    background-color: transparent;
    color:white;
    font-size: 15.5px;
    cursor:pointer;
}

.go-to-see-all {
    text-align: left;
    position: relative;
    float: left;
    height: 27px;
    width : 200px;
    top: 7px;
    left : 15px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 1px white;
    color: white;
    font-family: "BlackOpsOne";
    font-weight: lighter;
    cursor: pointer;
    text-align: center;
}

.search-box {
    text-align: left;
    position: relative;
    float: left;
    height: 25px;
    width : 200px;
    top: 7px;
    left : 10px;
    border-radius: 30px;
}

.search-txt {
    float: left;
    padding: 0;
    background: white;
    border: none;
    outline: none;
    color: black;
    font-size: 12px;
    line-height: 24px;
    width : 150px;
    border-radius: 35px;
}

.nav1>ul{display:inline-block ;
    list-style:none}
.nav1>ul li{float:left;padding:0 30px;line-height:40px; text-decoration:none;color:#fff;font-size:15px}

.nav2 {
    overflow:hidden;height:40px;background-color:#BA6AA4; text-align:right
}

.nav2>ul{display:inline-block ;
    list-style:none}
.nav2>ul li{float:left;padding:0 30px;line-height:40px; text-decoration:none;color:#fff;font-size:15px}

.nav3 {
    overflow:hidden;height:40px;background-color:#C7705E; text-align:right
}

.nav3>ul{display:inline-block ;
    list-style:none}
.nav3>ul li{float:left;padding:0 30px;line-height:40px; text-decoration:none;color:#fff;font-size:15px}

.nav4 {
    overflow:hidden;height:40px;background-color:#8BBB65; text-align:right
}

.nav4>ul{display:inline-block ;
    list-style:none}
.nav4>ul li{float:left;padding:0 30px;line-height:40px; text-decoration:none;color:#fff;font-size:15px}