@font-face {
    font-family: 'BlackOpsOne';
    src: url("../fonts/BlackOpsOne-Regular.ttf") format('truetype');
}

body {
    background-color: #EAE9D5;
    }

    .join-main {
        vertical-align: center;
        display: flex; 
        background-color: #EAE9D5;
    }

    .join-sub-main {
        text-align: center;
        justify-content: center;
        padding-top: 100px;
        padding-right: 20px;
    }

    .join-imgs {
        position: relative;
        padding-top: 200px;
        padding-right: 60px;
        padding-left: 13%;
    }

    .join-logo {
        width: 350px;
        height: auto;
    }

    .join-first-input{
        display: flex;
        padding-bottom: 15px;
    }
    .join-v-line {
        position: absolute;
        border-left: 5px solid #065C94 ;
        padding: 65px 0 0 25px;
        margin-left: 200px;
    }
    .join-nickname {
        height: 20px;
        width: 120px;
        position: absolute;
        padding: 20px 0 0 25px;
        font-size: 20px;
        margin-top: 3px;
        font-family: "BlackOpsOne";
        color: #065C94;
    }
    .join-input-nickname {
        width: 340px;
        height: 55px;
        border-radius: 60px;
        border: 5px solid #065C94;
        outline: none;
        background-color: #fff;
        padding-left: 220px;
        font-size: 20px;
        font-family: "BlackOpsOne";
    }


    .join-second-input{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .join-v-line2 {
        position: absolute;
        border-left: 5px solid #065C94 ;
        padding: 65px 0 0 25px;
        margin-left: 200px;
    }
    .join-id {
        height: 20px;
        width: 40px;
        position: absolute;
        padding: 20px 0 0 25px;
        font-size: 20px;
        margin-top: 3px;
        font-family: "BlackOpsOne";
        color: #065C94;
    }
    .join-input-id{
        width: 340px;
        height: 55px;
        border-radius: 60px;
        border: 5px solid #065C94;
        outline: none;
        background-color: #fff;
        padding-left: 220px;
        font-size: 20px;
        font-family: "BlackOpsOne";
    }

    .join-third-input{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .join-v-line3 {
        position: absolute;
        border-left: 5px solid #065C94 ;
        padding: 65px 0 0 25px;
        margin-left: 200px;
    }
    .join-pwd {
        height: 20px;
        width: 130px;
        position: absolute;
        padding: 20px 0 0 25px;   
        font-size: 20px;
        margin-top: 3px;
        font-family: "BlackOpsOne";
        color: #065C94;
    }
    .join-input-pwd {
        width: 340px;
        height: 55px;
        border-radius: 60px;
        border: 5px solid #065C94;
        outline: none;
        background-color: #fff;
        padding-left: 220px;
        font-size: 20px;
        font-family: "BlackOpsOne";
    }

    .join-fourth-input{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .join-v-line4 {
        position: absolute;
        border-left: 5px solid #065C94 ;
        padding: 65px 0 0 25px;
        margin-left: 200px;
    }
    .join-cpwd {
        height: 20px;
        width: 145px;
        position: absolute;
        padding: 20px 0 0 25px;   
        font-size: 20px;
        margin-top: 3px;
        font-family: "BlackOpsOne";
        color: #065C94;
    }
    .join-input-cpwd {
        width: 340px;
        height: 55px;
        border-radius: 60px;
        border: 5px solid #065C94;
        outline: none;
        background-color: #fff;
        padding-left: 220px;
        font-size: 20px;
        font-family: "BlackOpsOne";
    }

    .join-fiveth-input{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .join-v-line5 {
        position: absolute;
        border-left: 5px solid #065C94 ;
        padding: 65px 0 0 25px;
        margin-left: 200px;
    }
    .join-ad-year {
        height: 20px;
        width: 90px;
        position: absolute;
        padding: 20px 0 0 25px;   
        font-size: 20px;
        margin-top: 3px;
        font-family: "BlackOpsOne";
        color: #065C94;
    }

    .join-input-ad-year {
        width: 340px;
        height: 55px;
        border-radius: 60px;
        border: 5px solid #065C94;
        outline: none;
        background-color: #fff;
        padding-left: 220px;
        font-size: 20px;
        font-family: "BlackOpsOne";
    }

    .sign-up-button-Ui{
        width: 140px;
        height: 60px;
        border-radius: 60px;
        background-color: #065C94;
        color: white;
        font-size: 20px;
        border: none;
        font-family: "BlackOpsOne";
    }
    .sign-up-button{
        padding-top: 25px;
    }