.login-main {
    text-align: center;
    justify-content: center;
    display: flex; 
    background-color: #EAE9D5;
  }

  .login-sub-main {
    text-align: center;
    justify-content: center;
  }

  .login-imgs {
      padding-top: 10%;
      padding-left: 20px;
      padding-bottom: 5%;
      justify-content: center;
    }

  .login-logo {
    width: 350px;
    height: auto;
  }

  .login-first-input{
    display: flex;
}
  .login-second-input{
      padding-top: 15px;
      padding-bottom: 15px;
  }

  .login-text-id {
    height: 20px;
    width: 20px;
    position: absolute;
    padding: 20px 0 0 25px;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 3px;
    font-family: "BlackOpsOne";
    color: #065C94;
  }

  .login-v-line {
    position: absolute;
    border-left: 5px solid #065C94 ;
    padding: 65px 0 0 25px;
    margin-left: 200px;
  }

  .login-text-pwd {
    height: 20px;
    width: 20px;
    position: absolute;
    padding: 20px 0 0 25px;   
    font-size: 20px;
    margin-left: 10px;
    margin-top: 3px;
    font-family: "BlackOpsOne";
    color: #065C94;
  }

  .login-v-line2 {
    position: absolute;
    border-left: 5px solid #065C94 ;
    padding: 65px 0 0 25px;
    margin-left: 200px;
  }
  
  .login-user-id{
    width: 340px;
    height: 55px;
    border-radius: 60px;
    border: 5px solid #065C94;
    outline: none;
    background-color: #fff;
    padding-left: 220px;
    font-size: 20px;
    font-family: "BlackOpsOne";
  }

  .login-user-pwd {
      width: 340px;
      height: 55px;
      border-radius: 60px;
      border: 5px solid #065C94;
      outline: none;
      background-color: #fff;
      padding-left: 220px;
      font-size: 20px;
      font-family: "BlackOpsOne";
  }

  .login-button-Ui{
      width: 140px;
      height: 60px;
      border-radius: 60px;
      background-color: #065C94;
      color: white;
      font-size: 20px;
      border: none;
      font-family: "BlackOpsOne";
  }
  .login-button{
      padding-top: 25px;
  }